absl-py==0.15.0
astunparse==1.6.3
cachetools==5.5.2
certifi==2025.10.5
charset-normalizer==3.4.4
cloudpickle==3.1.1
contourpy==1.1.1
cycler==0.12.1
flatbuffers==1.12
fonttools==4.57.0
gast==0.3.3
google-auth==2.42.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
gym==0.26.2
gym-notices==0.1.0
h5py==2.10.0
idna==3.11
importlib_metadata==8.5.0
importlib_resources==6.4.5
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
numpy==1.24.4
oauthlib==3.3.1
opt-einsum==3.3.0
packaging==25.0
pandas==2.0.3
pillow==10.4.0
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pygame==2.6.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
scipy==1.10.1
six==1.15.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.4.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
typing-extensions==3.7.4.3
tzdata==2025.2
urllib3==2.2.3
Werkzeug==3.0.6
wrapt==1.12.1
zipp==3.20.2
